body {
    background: linear-gradient(90deg, rgba(87,45,160) 35%, rgba(1,110,234) 100%);
    background-blend-mode: darken;
}
#logo {
    position: relative;
    left: 10px;
    width: 150px;
}
.nav {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
}
.nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 1rem;
}
.nav a:hover {
    color: #000;
}
.nav i {
    margin-right: 0.5rem;
}
#glossary {
    margin: 0 auto;
    width: 80%;
    border-radius: 0.5rem;
    padding: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
#glossary h1 {
    font-family: sans-serif;
    color: #fff;
    text-align: center;
    font-size: 60px;
    margin: 0 0 15px 0;
}
#glossary .glossary__container {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;
    padding: 20px;
    margin: 0 auto;
    max-width: 600px;
}
#glossary .glossary__container p {
    font-family: sans-serif;
    color: #fff;
    font-size: 16px;
}
#credits {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1rem;
    color: #fff;
}
#powered {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1rem;
    color: #fff;
}
#credits a, #powered a {
    color: #fff;
    text-decoration: none;
}
#credits a:hover, #powered a:hover {
    text-decoration: underline;
}
#credits p {
    font-family: sans-serif;
    font-size: 12px;
}
#powered p {
    font-family: sans-serif;
    font-size: 14px;
}
#powered-logo {
    width: 125px;
    margin-left: 0.5rem;
    vertical-align: middle;
}
#partners {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
#partners p {
    color: #fff;
    font-family: sans-serif;
    font-size: 14px;
}
#partners img {
    width: 80px;
    margin: 20px 10px;
}
#gas-tracker {
    position: absolute;
    display: flex;
    top: 50px;
    right: 15px;
}
#gas-tracker p {
    font-family: sans-serif;
    font-size: 14px;
    color: #fff;
}
.gas-tracker__container {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;
    padding: 0px 10px;
    margin: 0 5px;
    width: 90px;
}
.gas-tracker__container > p {
    text-align: center;
}